@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

.hidden {
    display: none;
}

#choropleth-tooltip {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    opacity: 0.9;
    z-index: 100;
}

#choropleth-legend {
    position: absolute;
    background-color: #fff;
    top: 15px;
    left: 15px;
    opacity: 0.9;
}

#choropleth-options {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    top: 115px;
    left: 15px;
    opacity: 0.9;
}

.choropleth-tooltip-field .field-value {
    font-weight: bold;
}